{# empty Twig template #}
<div class="hidden-xs hidden-sm col-md-3 mb15">
    <div class="newsfeed mb15">
        <div class="row news">
            <img class="col-md-5" src="https://www.cuw.edu/_files/images/test.JPG">
            <div class="col-md-7">
                <a href="#">
                    Д.Алимаа: Шүүхээр үйлчлүүлснээс эвлэрүүлэн зуучлалаар асуудлаа шийдүүлэх нь хялбар
                </a>
            </div>
        </div>
        <div class="row news">
            <img class="col-md-5"src="https://www.cuw.edu/_files/images/test.JPG">
            <div class="col-md-7">
                <a href="#">
                    Шүүхээр үйлчлүүлснээс эвлэрүүлэн зуучлалаар асуудлаа шийдүүлэх нь хялбар
                </a>
            </div>
        </div>
        <div class="row news">
            <img class="col-md-5" src="https://www.cuw.edu/_files/images/test.JPG">
            <div class="col-md-7">
                <a href="#">
                    Асуудлаа шийдүүлэх нь хялбар
                </a>
            </div>
        </div>
        <div class="row news">
            <img class="col-md-5" src="https://www.cuw.edu/_files/images/test.JPG">
            <div class="col-md-7">
                <a href="#">
                    Д.Алимаа: Шүүхээр үйлчлүүлснээс эвлэрүүлэн зуучлалаар асуудлаа шийдүүлэх нь хялбар
                </a>
            </div>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9 mb15">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x3OPTP-A2yE"></iframe>
    </div>
    <div id="calendar"></div>

</div>